body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .send-email-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .send-email-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .send-email-col input {
  margin-bottom: 10px;
}
